@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<LibraryTest.Models.Book>

<div class="text-center">
    <h1>Welcome to Library</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.Name)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.BookId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href="~/Author">Manage Authors</a>
    <a href="~/Book"> Manage Books</a>
</div>
